.Todo {background-color:#6ef60d;}
.fonazul {background-color:#1eb7ef; margin-left:25%; margin-top:25%; margin-bottom:25%;margin-right:25%;}
.fonazul {visibility:hidden;}
.image15 {position: absolute; left:14%;top:94%;}
.image14 {position: absolute; left:4%;top:24%;}
.image13 {position: absolute; left:24%;top:64%;}
.image12 {position: absolute; left:21%;top:86%;}
.image11 {position: absolute; left:11%;top:84%;}
.image10 {position: absolute; left:9%;top:89%;}
.image9 {position: absolute; left:15%;top:95%;}
.image8 {position: absolute; left:18%;top:98%;}
.image7 {position: absolute; left:16%;top:88%;}
.image6 {position: absolute; left:9%;top:79%;}
.image5 {position: absolute; left:12%;top:92%;}
.image4 {position: absolute; left:20%;top:91%;}
.image3 {position: absolute; left:15%;top:96%;}
.image2 {position: absolute; left:31%;top:94%;}
.image1 {position: absolute; left:17%;top:77%;}
