.examplemultiplebackgroundsa {text-align: right;float:right; font-weight: bold;}
.Fondos {
    background-image:url("decoration.png");
    background-image:url("ribbon.png");
    background-image:url("old_paper.jpg");  }
