 body {
            margin: 0px;
        }
        #container{
            background: #666 url(ej03_tree.jpg) no-repeat -60px 0;
            width: 420px;
            height: 480px;
            position: relative;
           -webkit- animation-direction:normal; animation-iteration-count: infinite;animation-name:"nieve";
           -webkit- animation-timing-function: ease-in;


        }
        .snowflake {
            color: #fff;
            font-size: 2em;
            position: relative;

        }
        .snowflake.f1 {
            left: 40px;
            top: 1px;
            bottom: 450px;
             -webkit- animation-duration: 1s;
        }
        .snowflake.f2 {
            font-size: 1.8em;
            left: 120px;
            top: 1px;
            bottom: 450px;
             -webkit- animation-duration: 2s;
        }
        .snowflake.f3 {
            left: 200px;
            top: 1px;
            bottom: 450px;
              -webkit- animation-duration: 4s;
        }
        .snowflake.f4 {
            font-size: 1.5em;
            left: 280px;
            top: 1px;
            bottom: 450px;
              -webkit- animation-duration: 5s;
        }
        </style>
        @-webkit- keyframe nieve
{
            from: 1px;
            to: 450px;
}
